<!DOCTYPE html>
<html lang="en">
<head>
  <title>India COVID-19 Archive: Official Case Numbers &amp; Statistics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Chronological archive of official case numbers, statistics, and graphs for COVID-19 in India">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="icon" type="image/png" href="favicon.png">
  <script src="js/tex.js"></script>
</head>

<body>
<main>

<h1><a href="./">India COVID-19 Archive</a></h1>

<p>
This website archives case numbers for COVID-19 in India from official
government sources only. Every entry on this page has supporting
reference links to government websites. 
</p>


<h2 id="latest"><a href="#latest">Latest Update</a></h2>

<div class="latest">
  <a class="total" href="#{{ last_date }}">{{ last_total }}<br>Total<br>Cases</a>
  <a class="active" href="#{{ last_date }}">{{ last_active }}<br>Active<br>Cases</a>
  <a class="cured" href="#{{ last_date }}">{{ last_cured }}<br>Cured<br>Cases</a>
  <a class="death" href="#{{ last_date }}">{{ last_death }}<br>Death<br>Cases</a>
</div>

<p>
Last updated on
<strong class="date"><a href="#{{ last_date }}">{{ last_updated }}</a></strong>.
</p>

<p>
<strong class="total"><a href="#new-cases-recent">{{ new_cases }}</a></strong>
new cases
(<strong class="total"><a href="#growth-percent-recent">{{ new_growth }}</a></strong>
increase) since the previous day.
</p>

<p>
Total number of cases has doubled in the last
<strong class="total"><a href="#doubling-time-recent">{{ doubling_time }} days</a></strong>.
</p>

<p>
The ratio of cured cases to that of death cases is
<strong><a class="cured" href="#cured-ratio-recent">{{ cured_ratio }}
<span class="neutral">:</span>
<span class="death">1</span></a></strong>.
</p>

<script async src="https://platform.twitter.com/widgets.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<h2 id="contents"><a href="#contents">Contents</a></h2>

<ul>
  <li><a href="#latest">Latest Update</a></li>
  <li><a href="#graphs-last-30-days">Graphs (Last 30 Days)</a></li>
    <ul>
      <li><a href="#total-cases-linear-recent">Total Cases in Linear Scale</a></li>
      <li><a href="#total-cases-log-recent">Total Cases in Logarithmic Scale</a></li>
      <li><a href="#new-cases-recent">New Cases</a></li>
      <li><a href="#growth-percent-recent">Growth Percent</a></li>
      <li><a href="#doubling-time-recent">Doubling Time</a></li>
      <li><a href="#cured-percent-recent">Cured Percent</a></li>
      <li><a href="#cured-ratio-recent">Cured Ratio</a></li>
    </ul>
  </li>
  <li><a href="#graphs-all-days">Graphs (All Days)</a></li>
    <ul>
      <li><a href="#total-cases-linear">Total Cases in Linear Scale</a></li>
      <li><a href="#total-cases-log">Total Cases in Logarithmic Scale</a></li>
      <li><a href="#new-cases">New Cases</a></li>
      <li><a href="#growth-percent">Growth Percent</a></li>
      <li><a href="#doubling-time">Doubling Time</a></li>
      <li><a href="#cured-percent">Cured Percent</a></li>
      <li><a href="#cured-ratio">Cured Ratio</a></li>
    </ul>
  </li>
  <li><a href="#case-numbers">Case Numbers</a></li>
</ul>


<!-- Recents -->
<h2 id="graphs-last-30-days"><a
 href="#graphs-last-30-days">Graphs (Last 30 Days)</a></h2>


<h3 id="total-cases-linear-recent"><a
 href="#total-cases-linear-recent">Total Cases in Linear Scale (Last 30 Days)</a></h3>
<div class="links">
  <a href="#total-cases-linear">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/total-cases-linear-recent.png" class="imglink"><img
  class="recent" src="img/total-cases-linear-recent.png"
  alt="India COVID-19 total cases graph for the last 30 days in linear scale"></a>


<h3 id="total-cases-log-recent"><a
 href="#total-cases-log-recent">Total Cases in Logarithmic Scale (Last 30 Days)</a></h3>
<div class="links">
  <a href="#total-cases-log">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/total-cases-log-recent.png" class="imglink"><img
  class="recent" src="img/total-cases-log-recent.png"
  alt="India COVID-19 total cases graph for the last 30 days in log scale"></a>


<h3 id="new-cases-recent"><a
 href="#new-cases-recent">New Cases (Last 30 Days)</a></h3>
<div class="links">
  <a href="#new-cases">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/new-cases-recent.png" class="imglink"><img
  class="recent" src="img/new-cases-recent.png"
  alt="India COVID-19 new cases graph for the last 30 days in log scale"></a>


<h3 id="growth-percent-recent"><a
 href="#growth-percent-recent">Growth Percent (Last 30 Days)</a></h3>
<div class="links">
  <a href="#growth-percent">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/growth-percent-recent.png" class="imglink"><img
  class="recent" src="img/growth-percent-recent.png"
  alt="India COVID-19 growth percent graph for the last 30 days in log scale"></a>


<h3 id="doubling-time-recent"><a
  href="#doubling-time-recent">Doubling Time (Last 30 Days)</a></h3>
<div class="links">
  <a href="#doubling-time">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/doubling-time-recent.png" class="imglink"><img
  class="recent" src="img/doubling-time-recent.png"
  alt="India COVID-19 cases doubling time graph for the last 30 days"></a>


<h3 id="cured-percent-recent"><a
  href="#cured-percent-recent">Cured Percent (Last 30 Days)</a></h3>
<div class="links">
  <a href="#cured-percent">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/cured-percent-recent.png" class="imglink"><img
  class="recent" src="img/cured-percent-recent.png"
  alt="India COVID-19 cases cured percent graph for the last 30 days"></a>


<h3 id="cured-ratio-recent"><a
  href="#cured-ratio-recent">Cured Ratio (Last 30 Days)</a></h3>
<div class="links">
  <a href="#cured-ratio">[See All Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/cured-ratio-recent.png" class="imglink"><img
  class="recent" src="img/cured-ratio-recent.png"
  alt="India COVID-19 cases cured ratio graph for the last 30 days"></a>


<!-- All Days -->
<h2 id="graphs-all-days"><a href="#graphs-all-days">Graphs (All Days)</a></h2>

<h3 id="total-cases-linear"><a
 href="#total-cases-linear">Total Cases in Linear Scale (All Days)</a></h3>
<div class="links">
  <a href="#total-cases-linear-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/total-cases-linear.png" class="imglink"><img
  class="alltime" src="img/total-cases-linear.png"
  alt="India COVID-19 total cases graph in linear scale"></a>


<h3 id="total-cases-log"><a
 href="#total-cases-log">Total Cases in Logarithmic Scale (All Days)</a></h3>
<div class="links">
  <a href="#total-cases-log-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/total-cases-log.png" class="imglink"><img
  class="alltime" src="img/total-cases-log.png"
  alt="India COVID-19 total cases graph in log scale"></a>


<h3 id="new-cases"><a href="#new-cases">New Cases (All Days)</a></h3>
<div class="links">
  <a href="#new-cases-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/new-cases.png" class="imglink"><img
  class="alltime" src="img/new-cases.png"
  alt="India COVID-19 new cases graph"></a>


<h3 id="growth-percent"><a
  href="#growth-percent">Growth Percent (All Days)</a></h3>
<div class="links">
  <a href="#growth-percent-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/growth-percent.png" class="imglink"><img
  class="alltime" src="img/growth-percent.png"
  alt="India COVID-19 growth percent graph"></a>


<h3 id="doubling-time"><a
  href="#doubling-time">Doubling Time (All Days)</a></h3>
<div class="links">
  <a href="#doubling-time-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/doubling-time.png" class="imglink"><img
  class="alltime" src="img/doubling-time.png"
  alt="India COVID-19 cases doubling time graph"></a>


<h3 id="cured-percent"><a
  href="#cured-percent">Cured Percent (All Days)</a></h3>
<div class="links">
  <a href="#cured-percent-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/cured-percent.png" class="imglink"><img
  class="alltime" src="img/cured-percent.png"
  alt="India COVID-19 cases cured percent graph"></a>


<h3 id="cured-ratio"><a href="#cured-ratio">Cured Ratio (All Days)</a></h3>
<div class="links">
  <a href="#cured-ratio-recent">[See Last 30 Days Graph]</a>
  <a href="#{{ last_date }}">[See Case Numbers]</a>
</div>
<a href="img/cured-ratio.png" class="imglink"><img
  class="alltime" src="img/cured-ratio.png"
  alt="India COVID-19 cases cured ratio graph"></a>


<h2 id="case-numbers"><a href="#case-numbers">Case Numbers</a></h2>
<div class="links">
{{ case_links }}
</div>
<table class="grid">
{{ case_rows }}
</table>
</ol>
</main>
</body>
</html>
